<a href="https://colab.research.google.com/github/Haykalilys/tugas_DesainAnalisisAlgoritma/blob/master/Tugas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import numpy as np


a = [1,2,3]
b = [4,5,6]

hasil = a + b


def add(list_a, list_b):
  result = []
  for first, second in zip(list_a, list_b):
    result.append(first + second)
  return result

print(add (a, b))

[5, 7, 9]

In [13]:
print("hello world")
print("Nama saya(haykal)")
print("NIM saya(2022071072)")

hello world
Nama saya(haykal)
NIM saya(2022071072)

In [11]:
import numpy as np

panjang = 12
tinggi =  6

luas = panjang * tinggi

print("luas persegipanjang adalah:", luas)

luas persegipanjang adalah: 72

In [6]:
import numpy as np

nilai_mahasiswa = np.array([85, 55, 40, 90])

print(nilai_mahasiswa[3])

90

In [8]:
import numpy as np

print(np.__version__)

1.23.5

In [23]:
if 5>2:
  print("Five is greater than two!")

  x = 5
  y = "john"
  print(x)
  print(y)

  x=4
  x="sally"
  print(x)

Five is greater than two!
5
john
sally

In [34]:
def getLast(myList):
  return myList[len (myList)-1]

getLast([3,7,6,5,11])

11

In [40]:
def  getSum(myList):
  sum = 0
  for item in myList:
    sum = sum+item
  return sum

getSum([1,2,3,4])
# getSum([1,2,3])

10

In [45]:
def  getSum(myList):
  sum = 0
  for row in myList:
    for item in row:
      sum += item
  return sum

getSum([[1,2,5], [3,4,7]])

22

In [54]:

def searchBinary(myList,item):
    first = 0
    last = len(myList)-1
    foundFlag = False
    while(first<=last and not foundFlag):
      mid = (first + last)//2
      if myList[mid] == item :
        foundFlag = True
      else:
          if item < myList[mid]:
              last = mid - 1
          else:
              first = mid + 1
    return foundFlag

searchBinary([8,9,10,100,1000,2000,3000], 10)
searchBinary([8,9,10,100,1000,2000,3000], 5)

False